{% extends "layout.html" %}
{% load static %}

{% block title %} Clark {% endblock %}

{% block main %}
<link rel = "stylesheet" href = "{% static 'layout.css' %}">

    <div class="lado_esquerdo">
        <img src="{% static 'PERPM.png' %}" alt="img" class="img">
        <h2 class="perp" > PERP USDⓈ-M</h2>
    </div>


    <div class="lado_direito">
        <h2> Clark 丰 </h2>
        <p class="p"> Log in </p>


        <form id="AuthForm" class="form"> {% csrf_token %}
            <label> Email: <input id="email" type="email" name="email" placeholder="Digite seu email" required> </label>
            <label> Senha: <input id="password" type="password" name="password" placeholder="Digite sua senha" required> </label>
            <p id="error" class="error" style="display: none;"></p>
            <button type="submit"> Entrar </button>
            <a href="{% url 'page_register' %}"> Registrar </a>
        </form>
    </div>


    <script type="module" src="{% static 'javascript/login.js' %}"></script>

{% endblock %}
