{% extends "layout.html" %}
{% load static %}

{% block title %} Clark {% endblock %}

{% block main %}
<link rel = "stylesheet" href = "{% static 'layout.css' %}">


    <div class="lado_esquerdo">
        <img src="{% static 'PERPM.png' %}" alt="img" class="img">
        <h2 class="perp" > PERP USDCⓈ-M</h2>
    </div>

    
    <div class="lado_direito">
        <h2> Clark 丰 </h2>
        <p class="p"> Sign Up </p>


        <form id="AuthForm" class="form"> {% csrf_token %}
            <label> Email: <input id="email" name="email" type="email" title="Digite Um Email Válido." placeholder="Cadastre um email" required> </label>
            <label> Senha: <input id="password" name="password" type="password" title="Digite Uma Senha Válida." placeholder="Cadastre uma senha" required> </label>
            <p id="error" class="error" style="display: none;"></p>
            <button type="submit"> Registrar </button>
            <a href="{% url 'page_login' %}"> Entrar </a> 
        </form>
    </div>


    <script type="module" src="{% static 'javascript/cadastro.js' %}"></script>


{% endblock %}
