html, body {
margin: 0;
background-color: rgb(0,20,0);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
display: flex;
height: 100vh;
}

.lado_esquerdo {
width: 100%;
height: 100%;
background-color: rgb(0,10,0);
}

.lado_esquerdo h2 {
font-size: 80px;
margin-top: -105px;
color: white;
text-align: center;
}

.lado_esquerdo img {
width: 80%;
height: 107%;
margin-left: 75px;
margin-top: -155px;
}

.lado_direito {
background-color: rgb(0,20,0);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}

.lado_direito h2 {
font-size: 130px;
margin-top: -40px;
color: rgb(250, 250, 250);
}

.p {
font-size: 40px;
margin-top: -110px;
margin-bottom: 15px;
color: rgb(250, 250, 250);
}

.form {
display: flex
;
flex-direction: column;
align-items: center;
width: 100%;
max-width: 50%;
}

.erro {
color: red;
margin-top: -3px;
}

.form label {
font-size: 25px;
margin-bottom: 8px;
text-align: left;
width: 100%;
color: rgb(255, 255, 255);
}

.form input {
padding: 10px;
font-size: 25px;
margin-bottom: 6px;
border-radius: 8px;
width: 100%;
border: none;
box-sizing: border-box;
background-color: rgb(250, 250, 250);
}



.form button, a {
display: block;
padding: 10px;
font-size: 30px;
background-color: rgb(0, 50, 0);
color: white;
border: none;
border-radius: 8px;
cursor: pointer;
text-align: center;
width: 100%;
margin-bottom: 10px;
box-sizing: border-box;
text-decoration: none;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form button:hover, a:hover {
background-color: rgb(0,100,0);
}


.footer {
position: fixed;
bottom: -6px;
left: 50%;
transform: translateX(-50%);
font-size: 30px;
color: white;
}

/* MEDIA QUERIES PARA CELULAR */
@media screen and (max-width: 500px) {

main {
flex-direction: column;
align-items: center;
}

.lado_esquerdo, .lado_direito {
display: flex;
flex-direction: column;
width: 100%;
height: 100vh;
}

.lado_direito h2 {
font-size: 60px;
margin-top: 5px;
color: rgb(250, 250, 250);
}

.form {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
max-width: 65%;
}

.form input {
padding: 6px;
font-size: 15px;
margin-bottom: -2px;
border-radius: 8px;
width: 100%;
border: none;
box-sizing: border-box;
background-color: rgb(250, 250, 250);
}

.erro {
color: red;
margin-top: -1px;
margin-bottom: 7px;
}

.form label {
font-size: 20px;
margin-bottom: 10px;
text-align: left;
width: 100%;
color: rgb(255, 255, 255);
}



.lado_esquerdo img {
margin-left: 31px;
margin-top: -75px;
}

.lado_esquerdo .perp {
font-size: 40px;
margin-top: -70px;
color: white;
text-align: center;
}

.p {
margin-top: -49px;
font-size: 30px;
}

.form button, .form a {
font-size: 0.9rem;
padding: 10px;
margin-bottom: 8px;
margin-top: 1px;
}



.footer {
position: relative;
bottom: 13px;
left: 14%;
transform: translateX(-50%);
font-size: 15px;
color: white;
}
}
